name: Unix Tests

on: [ push, pull_request ]

jobs:

  ci-test:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]
        node-version: [10.x, 12.x, 14.x]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
      name: Checkout
      with:
        fetch-depth: 1

    - uses: actions/setup-node@v1
      name: Use Node.js ${{ matrix.node-version }}
      with:
        node-version: ${{ matrix.node-version }}

    - name: npm install
      run: npm install

    - name: Run test suite
      run: npm run test

      env:
        CI: true

    # services:
    #   redis:
    #     image: redis
    #     ports:
    #       - 6379/tcp
